:root {
  --gradient-color: linear-gradient(180deg, blue, green);

}

html {
  background-color: rgb(54, 48, 48);
}
.App {
  background-color: aliceblue;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid orange;
  max-width: 60%;
}

h1 {
  margin: auto;
}

.chat {
  border: 2px solid rebeccapurple;
  display: block;
}

.chatbox-human {
  align-items: center;
  float: right;
}

img {
  width: 125px;
  height: 125px;
  background-color: blue;
  border-radius: 70px;
  border: 3px solid black;
}

.chatbox-human, .chatbox-robot {
  display: flex;
  margin-top: 20px;
}

/* input field */

input {
  width: 80%;
  height: 40px;
  border: none;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  border-radius: 9999em;
  color: black;
}

.btn {
  width: 10%;
}

/* database chat */
.flex-chat {
  display: flex;
  flex-direction: column;
  border: 5px solid green;
}

.parsedHuman {
  justify-content: flex-end;
  display: flex;
  margin-top: 20px
}

.chatbox-robot-flex {
  float: left;
}