.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid orange;
  max-width: 60%;
}

h1 {
  margin: auto;
}

.chat {
  border: 2px solid rebeccapurple;
  display: block;
}

.chatbox-human {
  float: right;
}

img {
  width: 125px;
  height: 125px;
  background-color: blue;
  border-radius: 70px;
  border: 3px solid black;
}

.chatbox-human, .chatbox-robot {
  display: flex;
}